<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud Operation</title>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
</head>
<body>
<div class="container mt-5">
<h1 class="text-center alert alert-danger">Function Based view ModelForm CDUD Operation</h1>
{%  block content %}{% endblock content %}
</div>
<script src="{% static 'enroll/js/bootstrap.js' %}"></script>
<script src="{% static 'enroll/js/proper.js' %}"></script>
<script src="{% static 'enroll/js/jqueryp.js' %}"></script>
</body>
</html>